<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>免费电影院-热门电影、美剧在线免费观看</title>
    <meta name="keywords" content="电影，美剧">
    <meta name="description" content="免费电影院提供:最新热门电影，最新热门美剧、韩剧、日剧等剧集在线观看">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/0.2.0/weui.css">
</head>
<script type="text/javascript">
var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1257175910'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257175910' type='text/javascript'%3E%3C/script%3E"));
</script>

<body>
    <div id="shareImage" style="display: none;">
        <img src="http://7xlqmn.com2.z0.glb.qiniucdn.com/wxfree_logo.jpg">
    </div>
    <div id="header">
        <div class="logo">
            <a href="/yourjam/?random=<%= random %>"><img width="126" height="35" alt="免费电影院" src="/images/logo.png"></a>
        </div>
        <form action="/yourjam/?random=<%= random %>" method="get">
            <div class="searchFormCon globalPadding">
                <p class="pSearchForm">
                    <input type="hidden" value="5" name="cid" />
                    <input type="text" value="输入影片名进行搜索" onclick="if(this.value=='输入影片名进行搜索')this.value=''" autocomplete="off" name="keywords" class="searchTxt searchTxtBlur">
                    <input type="submit" class="searchBtn">
                </p>
            </div>
        </form>
    </div>
    <div id="menu">
        <ul>
            <li class="s">
                <a href="/yourjam/?random=<%= random %>">首页</a>
            </li>
            <li>
                <a href="/yourjam/movie?cid=2&random=<%= random %>">电影</a>
            </li>
            <li>
                <a href="/yourjam/meiju?cid=1&random=<%= random %>">美剧</a>
            </li>
            <li>
                <a href="/yourjam/dianshiju?cid=3&random=<%= random %>">电视剧</a>
            </li>
            <!-- <li>
                <a href="/category/index.php?cid=19">其它剧</a>
            </li> -->
            <li>
                <a href="/yourjam/zongyi?cid=4&random=<%= random %>">综艺</a>
            </li>
        </ul>
    </div>
    <div id="content">
        <div class="c-box">
            <div class="title">
            </div>
            <div class="plist">
         <div>
            <img width="100%" src="http://7xqomp.com2.z0.glb.qiniucdn.com/404.jpg">
            <div class="tbmov-notice">
                    <img width="100%" src="http://7xlqmn.com2.z0.glb.qiniucdn.com/wxdianyin.jpg">
                    <div class="cont-banner">
                        <a href="http://t.cn/R4OEgkh" id="tudouWeixinID">识别失败的同学务必请点这里</a>
                    </div>
            </div>
        </div>               
            </div>
        </div>
        <div id="content">
            <script type="text/javascript">
            if (top.location != self.location) {
                top.location = self.location; //防止页面被框架包含
            }
            </script>
            <div id="footer">© 免费电影院 | <a href="#header">回到顶部</a> 如有侵权联系公众号：免费电影院 我们会及时删除侵权内容，谢谢合作。 </div>
        </div>
</body>

</html>
