<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title><%= (titleName == title) ?  title : titleName + ' ' + title %> 手机在线观看 - 免费电影院</title>
    <meta name="keywords" content="<%= (titleName == title) ?  title : titleName + ' ' + title %>手机在线免费观看">
    <meta name="description" content="免费电影院为您提供星球大战:原力觉醒高清手机在线观看，《<%= (titleName == title) ?  title : titleName + ' ' + title %>》分为普通视频观看、手机高清播放模式。">
    <meta name="title" content="<%= (titleName == title) ?  title : titleName + ' ' + title %> 手机在线观看 - 免费影院">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <!-- -->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/javascripts/ckplayer/ckplayer.js" charset="utf-8"></script>
<script type="text/javascript">
var wechatConfig = {
    debug: false,
    appId: "<%= wxconfig.appid %>", // 必填，公众号的唯一标识
    timestamp: "<%= wxconfig.timestamp %>", // 必填，生成签名的时间戳
    nonceStr: "<%= wxconfig.nonceStr %>", // 必填，生成签名的随机串
    signature: "<%= wxconfig.signature %>", // 必填，签名，见附录1
    jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'showOptionMenu',
            'startRecord',
            'stopRecord',
            'onVoiceRecordEnd',
            'onVoicePlayEnd',
            'uploadVoice',
            'chooseImage',
            'uploadImage',
            'playVoice',
            'downloadVoice'
        ]
        // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
}
var reg = /&amp;/g;
var location_url = "<%= location_url %>";
location_url = location_url.replace(reg, '&');
wx.config(wechatConfig);
wx.ready(function() {
    wx.showOptionMenu();
    //console.log("{$signpackage.url}"+"  {$signpackage.jsapiTicket}");
    wx.onMenuShareTimeline({
        title: "<%= (titleName == title) ?  title : titleName + ' ' + title %>", // 分享标题
        link: location_url, // 分享链接
        imgUrl: "http://7xlqmn.com2.z0.glb.qiniucdn.com/icon_monkey.jpg", // 分享图标
        success: function() {
            // 用户确认分享后执行的回调函数
            addRecord();
        },
        cancel: function() {
            // 用户取消分享后执行的回调函数
        }
    });
    wx.onMenuShareAppMessage({
        title: "<%= (titleName == title) ?  title : titleName + ' ' + title %>", // 分享标题
        desc: "分享免费电影院，免费送迅雷VIP账号", // 分享文案
        link: location_url, // 分享链接
        imgUrl: "http://7xqomp.com2.z0.glb.qiniucdn.com/movielogo.jpg", // 分享图标
        type: '', // 分享类型,music、video或link，不填默认为link
        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
        success: function() {
            // 用户确认分享后执行的回调函数
            //$('.weixin-share').hide();
            //share();
            //onShareComplete();
            addRecord();
        },
        cancel: function() {
            // 用户取消分享后执行的回调函数
        }
    });
});

</script>
</head>
 <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1257175910'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257175910' type='text/javascript'%3E%3C/script%3E"));</script>
<body>
    <div id="shareImage" style="display: none;">
        <img src="http://7xqomp.com2.z0.glb.qiniucdn.com/movielogo.jpg">
    </div>
    <!--<p><img width="100%" style="margin: 0px; padding: 0px;" src="http://www.dyued.com/csss/ddd.jpg"></p>-->
<%- include header.html %>
    <div id="menu">
<%- include sider.html %>
    </div>
    <div id="content">
        <div class="c-box">
            <div class="title">
                <h1 class="c"><a href="#"><%= (titleName == title) ?  title : titleName + ' ' + title %></a><sub><%= (titleName == title) ?  title : titleName + ' ' + title %></sub></h1>
            </div>
            <div id="player">

            </div>
        </div>
        <center>
            <div class="ad">
                <img width="100%" src="<%= member_public.logo %>">
            </div>
            <!-- 微信无法播放请刷新，或者用UC浏览器打开 -->
            <br> 首次打开请耐心等待一会儿 加载需要时间,即日起分享任意免费电影院视频，即可获得抽取迅雷vip账号，先到先得，赶快分享哦！！！
            <br> 公众号内回复➩【
            <font color="red"><%= (titleName == title) ?  title : titleName + ' ' + title %></font>】即可获得下载链接
        </center>
        <div class="c-box">
        </div>
        <div class="c-box">
            <dl class="ptab" id="liebiao">
                <dt>手机在线播放</dt>
                <dd>
                    <ul>
                        <% series.forEach(function(item){ %>
                        <li><a title="<%= item.name %>" href="/detail?url=<%= item.url %>&title=<%= item.name %>&titleName=<%= item.titleName %>" target="_blank"><%= item.name %></a></li>
                        <% }); %>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="c-box">
        </div>
        <div class="c-box">
            <div class="title">
                <h1 class="c"><%= info.title %><sub><%= info.year %></sub></h1>
            </div>
            <div class="c-info">
                <div class="info">
                    <div class="detail">
                        <p class="len"><%= info.actor %></p>
                        <p class="len"><%= info.director %></p>
                        <p><%= info.year %></p>
                        <p><%= info.area %></p>
                        <p><%= info.category %></p>
                        <p><%= info.language %></p>
                    </div>
                </div>
                <div class="intro">
                <%= info.content %>
                </div>
            </div>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
    var flashvars={
        f: "<%= video_url %>",
        c: 0,		//调用 ckplayer.js 配置播放器
  	    p: 2,		//自动播放视频
  	    s: 4,		//flash插件形式发送视频流地址给播放器进行播放
  	    lv: 0
    };
    var video=["<%= video_url %>"];
    var support=['all'];
    CKobject.embedHTML5('player','ckplayer_a1','100%',280,video,flashvars,support);
    </script>
    <script type="text/javascript">
    if (top.location != self.location) {
        top.location = self.location; //防止页面被框架包含
    }
    </script>

    <script type="text/javascript">
    //纪录分享次数
    function addRecord(){
        $.ajax({
            url: "/addRecord",
            method: "GET",
            data: {},
            success: function(res){
                if (res.state == 1000) {
                    window.location.href = "/activity/reffle";
                }
            }
        });
    }
    </script>
    <div id="footer">© 免费电影院 | <a href="#header">回到顶部</a> 如有侵权联系公众号：免费电影院 我们会及时删除侵权内容，谢谢合作。 </div>
</body>
</html>