<div id="header">
    <div class="logo">
        <a href="/category/index.php?cid=0"><img width="126" height="35" alt="免费电影院" src="/images/logo.png"></a>
    </div>

    <form action="/category/index.php" method="get">
        <div class="searchFormCon globalPadding">
            <p class="pSearchForm">
                <input type="hidden" value="5" name="cid" />
                <input type="text" value="输入影片名进行搜索" onclick="if(this.value=='输入影片名进行搜索')this.value=''" autocomplete="off" name="keywords" class="searchTxt searchTxtBlur">
                <input type="submit" class="searchBtn">
            </p>
        </div>
    </form>
</div>
