<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://7xqomp.com2.z0.glb.qiniucdn.com/hbico.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="http://7xqomp.com2.z0.glb.qiniucdn.com/hbico.ico" type="image/vnd.microsoft.icon">
    <title>免费电影院VIP账号大放送</title>
    <link href="/stylesheets/reffle.css" rel="stylesheet" type="text/css">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
    var wechatConfig = {
        debug: false,
        appId: "<%= wxconfig.appid %>", // 必填，公众号的唯一标识
        timestamp: "<%= wxconfig.timestamp %>", // 必填，生成签名的时间戳
        nonceStr: "<%= wxconfig.nonceStr %>", // 必填，生成签名的随机串
        signature: "<%= wxconfig.signature %>", // 必填，签名，见附录1
        jsApiList: [
                'hideOptionMenu'
            ]
            // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    }
    wx.config(wechatConfig);
    wx.ready(function() {
        wx.hideOptionMenu();
    });
    </script>
</head>
<style>
    .ad{
        width: 100%;
        height: 40px;
        background: rgba(238, 238, 238, 0.8);
        position: fixed;
        top:0;
    }
</style>
<body style="background:#002238;overflow-x:hidden;">
    <a id="banner_url" href="http://mp.weixin.qq.com/s?__biz=MzAxODE1Njg3Ng==&amp;mid=401411059&amp;idx=1&amp;sn=1a7d0225b89d02d04b788daf764202b8&amp;scene=0&amp;previewkey=JiVMcmta0YmQxBb7jw%2F8IcNS9bJajjJKzz%2F0By7ITJA%3D#wechat_redirect">
        <div class="banners">
          <img src="http://7u2h8u.com2.z0.glb.qiniucdn.com/movie_banner.png" id="banner_bottom" width="100%" style="">
        </div>
      </a>
    <img src="/images/reffle/1.png" id="shan-img" style="display:none;" />
    <img src="/images/reffle/2.png" id="sorry-img" style="display:none;" />
    <img src="/images/reffle/free_movie.png" class="free_logo">
    <div class="banner">
        <div class="turnplate" style="background-image:url(/images/reffle/turnplate-bg.png);background-size:100% 100%;">
            <canvas class="item" id="wheelcanvas" width="422px" height="422px"></canvas>
            <img class="pointer" src="/images/reffle/turnplate-pointer.png" />
        </div>
    </div>
    <p class="n-num">您还有 <span class="num"><%= record %></span>次抽奖机会</p>
    <p class="n-num"><span class="account"></span></p>

    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/awardRotate.js"></script>
    <script type="text/javascript">
    var turnplate = {
        restaraunts: [], //大转盘奖品名称
        colors: [], //大转盘奖品区块对应背景颜色
        outsideRadius: 192, //大转盘外圆的半径
        textRadius: 155, //大转盘奖品位置距离圆心的距离
        insideRadius: 68, //大转盘内圆的半径
        startAngle: 0, //开始角度

        bRotate: false //false:停止;ture:旋转
    };

    //设置奖品时间区间

    $(document).ready(function() {
        //动态添加大转盘的奖品与奖品区域背景颜色
        turnplate.restaraunts = ["10天以内迅雷VIP体验账号", "10－20天迅雷VIP体验账号", "30天以上迅雷VIP体验账号", "谢谢参与",];
        turnplate.colors = ["#FFF4D6", "#FFFFFF", "#FFF4D6", "#FFFFFF",];


        var rotateTimeOut = function() {
            $('#wheelcanvas').rotate({
                angle: 0,
                animateTo: 2160,
                duration: 8000,
                callback: function() {
                    alert('网络超时，请检查您的网络设置！');
                }
            });
        };

        //旋转转盘 item:奖品位置; txt：提示语;
        var rotateFn = function(item, txt) {
            var angles = item * (360 / turnplate.restaraunts.length) - (360 / (turnplate.restaraunts.length * 2));
            if (angles < 270) {
                angles = 270 - angles;
            } else {
                angles = 360 - angles + 270;
            }
            $('#wheelcanvas').stopRotate();
            $('#wheelcanvas').rotate({
                angle: 0,
                animateTo: angles + 1800,
                duration: 8000,
                callback: function() {
                    var num = parseInt($('.num').text());
                    if (num != 0) {
                        num --;
                        $('.num').text(num);
                    }
                    alert(txt);
                    turnplate.bRotate = !turnplate.bRotate;
                    $('.account').text(txt);
                }
            });
        };

        $('.pointer').click(function() {
            if (turnplate.bRotate) return;
            turnplate.bRotate = !turnplate.bRotate;
            var num = parseInt($('.num').text());
            if(num == 0){
                item = 4;
                rotateFn(item, '你的参与资格已用完');
            }else{
                //获取随机数(奖品个数范围内)
                $.ajax({
                    url: "/activity/lottery",
                    method: "GET",
                    data: {},
                    success: function(res){
                        if (res.state == 1000) {
                            var expires = res.data.expireDays;
                            var item = 1;
                            if (expires <= 10) {
                                item = 1;
                            }else if (expires > 10 && expires<= 20) {
                                item = 2;
                            }else{
                                item = 3;
                            }
                            rotateFn(item, '迅雷VIP账号:'+res.data.username + ',' + '密码:' + res.data.password);
                        }else{
                            item = 4;
                            rotateFn(item, res.message);
                        }
                    }
                });
            }
            // var item = rnd(1, turnplate.restaraunts.length);
            // alert(item);
            //奖品数量等于10,指针落在对应奖品区域的中心角度[252, 216, 180, 144, 108, 72, 36, 360, 324, 288]
            //rotateFn(item, turnplate.restaraunts[item - 1]);
            /* switch (item) {
            	case 1:
            		rotateFn(252, turnplate.restaraunts[0]);
            		break;
            	case 2:
            		rotateFn(216, turnplate.restaraunts[1]);
            		break;
            	case 3:
            		rotateFn(180, turnplate.restaraunts[2]);
            		break;
            	case 4:
            		rotateFn(144, turnplate.restaraunts[3]);
            		break;
            	case 5:
            		rotateFn(108, turnplate.restaraunts[4]);
            		break;
            	case 6:
            		rotateFn(72, turnplate.restaraunts[5]);
            		break;
            	case 7:
            		rotateFn(36, turnplate.restaraunts[6]);
            		break;
            	case 8:
            		rotateFn(360, turnplate.restaraunts[7]);
            		break;
            	case 9:
            		rotateFn(324, turnplate.restaraunts[8]);
            		break;
            	case 10:
            		rotateFn(288, turnplate.restaraunts[9]);
            		break;
            } */
            
        });
    });

    function rnd(n, m) {
        var random = Math.floor(Math.random() * (m - n + 1) + n);
        return random;
    }


    //页面所有元素加载完毕后执行drawRouletteWheel()方法对转盘进行渲染
    window.onload = function() {
        drawRouletteWheel();
    };

    function drawRouletteWheel() {
        var canvas = document.getElementById("wheelcanvas");
        if (canvas.getContext) {
            //根据奖品个数计算圆周角度
            var arc = Math.PI / (turnplate.restaraunts.length / 2);
            var ctx = canvas.getContext("2d");
            //在给定矩形内清空一个矩形
            ctx.clearRect(0, 0, 422, 422);
            //strokeStyle 属性设置或返回用于笔触的颜色、渐变或模式  
            ctx.strokeStyle = "#FFBE04";
            //font 属性设置或返回画布上文本内容的当前字体属性
            ctx.font = '16px Microsoft YaHei';
            for (var i = 0; i < turnplate.restaraunts.length; i++) {
                var angle = turnplate.startAngle + i * arc;
                ctx.fillStyle = turnplate.colors[i];
                ctx.beginPath();
                //arc(x,y,r,起始角,结束角,绘制方向) 方法创建弧/曲线（用于创建圆或部分圆）    
                ctx.arc(211, 211, turnplate.outsideRadius, angle, angle + arc, false);
                ctx.arc(211, 211, turnplate.insideRadius, angle + arc, angle, true);
                ctx.stroke();
                ctx.fill();
                //锁画布(为了保存之前的画布状态)
                ctx.save();

                //----绘制奖品开始----
                ctx.fillStyle = "#E5302F";
                var text = turnplate.restaraunts[i];
                var line_height = 17;
                //translate方法重新映射画布上的 (0,0) 位置
                ctx.translate(211 + Math.cos(angle + arc / 2) * turnplate.textRadius, 211 + Math.sin(angle + arc / 2) * turnplate.textRadius);

                //rotate方法旋转当前的绘图
                ctx.rotate(angle + arc / 2 + Math.PI / 2);

                /** 下面代码根据奖品类型、奖品名称长度渲染不同效果，如字体、颜色、图片效果。(具体根据实际情况改变) **/
                if (text.indexOf("M") > 0) { //流量包
                    var texts = text.split("M");
                    for (var j = 0; j < texts.length; j++) {
                        ctx.font = j == 0 ? 'bold 20px Microsoft YaHei' : '16px Microsoft YaHei';
                        if (j == 0) {
                            ctx.fillText(texts[j] + "M", -ctx.measureText(texts[j] + "M").width / 2, j * line_height);
                        } else {
                            ctx.fillText(texts[j], -ctx.measureText(texts[j]).width / 2, j * line_height);
                        }
                    }
                } else if (text.indexOf("M") == -1 && text.length > 6) { //奖品名称长度超过一定范围 
                    text = text.substring(0, 6) + "||" + text.substring(6);
                    var texts = text.split("||");
                    for (var j = 0; j < texts.length; j++) {
                        ctx.fillText(texts[j], -ctx.measureText(texts[j]).width / 2, j * line_height);
                    }
                } else {
                    //在画布上绘制填色的文本。文本的默认颜色是黑色
                    //measureText()方法返回包含一个对象，该对象包含以像素计的指定字体宽度
                    ctx.fillText(text, -ctx.measureText(text).width / 2, 0);
                }

                //添加对应图标
                if (text.indexOf("") > 0) {
                    var img = document.getElementById("shan-img");
                    img.onload = function() {
                        ctx.drawImage(img, -15, 10);
                    };
                    ctx.drawImage(img, -15, 10);
                } else if (text.indexOf("谢谢参与") >= 0) {
                    var img = document.getElementById("sorry-img");
                    img.onload = function() {
                        ctx.drawImage(img, -15, 10);
                    };
                    ctx.drawImage(img, -15, 10);
                }
                //把当前画布返回（调整）到上一个save()状态之前 
                ctx.restore();
                //----绘制奖品结束----
            }
        }
    }
    </script>
    
</body>

</html>
