		<section class="m-header-search hide" id="search-box">
			<div class="header-search-box">
				<div class="header-searchInput">
					<form action="javascript:void(0);">
						<input type="text" id="txtsearch" placeholder="功夫熊猫3" class="search-input">
						<i class="c-glyphicon c-glyphicon-search"></i>
						<i id="clear" class="c-glyphicon c-glyphicon-close" style="display: none;"></i>
					</form>
				</div>
				<div class="header-searchBtn">
					<a href="javascript:void(0)" class="c-btn btn-search" id="btnsearch" style="display: none;">搜索</a>
					<a href="javascript:void(0)" class="c-btn btn-cancle" id="btncancle" style="display: block;">取消</a>
				</div>
			</div>
			<div class="header-search-suggest">
				<ul class="list-suggest" style="display: block;">				
					
				</ul>
			</div>
		</section>