<header class="header clearfix" style="background: black;">
    <p class="headLeft">
        <a href="/film" class="aLogo"></a>
    </p>
    <div class="headRight">
    <form action="/film/search" method="get">
        <div class="searchFormCon globalPadding">
            <p class="pSearchForm">
                <input type="text" value="输入影片名进行搜索" onclick="if(this.value=='输入影片名进行搜索')this.value=''" autocomplete="off" name="wd" class="searchTxt searchTxtBlur">
                <input type="submit" class="searchBtn">
            </p>
        </div>
        </form>
    </div>
    <section id="ls_box" class="searchMenu" style="display:none;">
        <div class="hisBox fn-left">
            <div class="looked-box" id="history">
            </div>
        </div>
    </section>
</header>
 <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1257175910'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257175910' type='text/javascript'%3E%3C/script%3E"));</script>

        <nav class="subNav globalPadding" id="nav_menu" style="display:block">
            <div class="con clearfix" style="background: black;">
                <p>
                    <a href="/film?random=<%= random %>" target="_self">首页</a>
                    <a href="/film/top?random=<%= random %>" target="_self" class="<%= style.index %>">总榜</a>
                    <a href="/film/rank?cid=mov&random=<%= random %>" class="<%= style.hotFilm %>" target="_self">电影</a>
                    <a href="/film/rank?cid=tv&random=<%= random %>" class="<%= style.hotDrama %>" target="_self">电视剧</a>
                    <a href="/film/rank?cid=comic&random=<%= random %>" class="<%= style.hotManga %>" target="_self">动漫</a>
                    <a href="/film/rank?cid=variety&random=<%= random %>" class="<%= style.hotVariety %>" target="_self">综艺</a>
                    <a href="/film/rank?cid=weidy&random=<%= random %>" class="<%= style.smallfilm %>" target="_self">微电影</a>
                </p>
            </div>
        </nav>
        <div class="tbmov-notice" style="background:#FFF">
            <a href="http://1112.9111915.cn/weixin/biz.html"><img src="http://oe3slowqt.bkt.clouddn.com/guanggao.jpg" width="100%"></a>
        </div>
        <section id="search_box" class="searchMenu" style="display:none">
            <form action="/film/search" method="post" id="search_form">
                <div class="searchFormCon globalPadding">
                    <p class="pSearchForm">
                        <input type="text" class="searchTxt searchTxtBlur" name="wd" id="wd" autocomplete="off" value="请在此处输入影片片名或演员名称。" onfocus="if(this.value=='请在此处输入影片片名或演员名称。'){this.value='';}" onblur="if(this.value==''){this.value='请在此处输入影片片名或演员名称。';};" />
                        <input type="submit" value="" class="searchBtn"><i class="clearSearchBtn" style="display:none;"><em></em></i>
                    </p>
                </div>
            </form>
        </section>